<!--
────────────────────────────────────────────
file:        index.html
project:     templates
Author:      Timur Barbashov        𝑏𝑦 𝑡ℎ𝑒 𝑝𝑒𝑜𝑝𝑙𝑒
e-mail:      barbashovtd@mail.ru        𝑓𝑜𝑟 𝑡ℎ𝑒 𝑝𝑒𝑜𝑝𝑙𝑒
June 16th 2021
────────────────────────────────────────────
-->
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>QR</title>
</head>


<body>

{% for  student in students %}
    <p>{{student}}</p>
{% endfor %}


</body>


</html>
